.task-header {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  background-color: #78909c;
  color: #eceff1;
}

.item-checkbox {
  flex-basis: 5%;
}

.item-title {
  flex-basis: 65%;
}

.item-status {
  flex-basis: 10%;
}

.item-update-button {
  flex-basis: 10%;
}

.item-delete-button {
  flex-basis: 10%;
}

.is-completed {
  text-decoration: line-through;
}
